# ignore virtual envs
.env
env
.venv
venv
# ignore molecule/testinfra pycache
**/__pycache__
# ignore roles (downloaded at runtime)
**/roles/*/
packer/builds/**/

# ignore build files for bin/factory
bin/build
bin/factory.egg-info