packer {
  required_plugins {
    openstack = {
      version = "{{ packer['builder_versions']['openstack'] }}"
      source  = "github.com/hashicorp/openstack"
    }
    ansible = {
      version = "{{ packer['provisioner_versions']['ansible'] }}"
      source  = "github.com/hashicorp/ansible"
    }
  }
}

source "openstack" "{{ inventory_hostname }}" {
  cloud = "{{ cloud_entry }}"
  insecure = "false"
  image_name = "{{ inventory_hostname }}"
  ssh_username = "ubuntu"
  external_source_image_url = "{{ external_image_source }}"
  tenant_name  = "{{ tenant_name }}"
  flavor = "{{ build_flavor }}"
  networks = [{% for network in network_attachement %}"{{ network }}"{% if not loop.last %}, {% endif %}{% endfor %}]
  use_blockstorage_volume = {{ use_block_storage|lower }}
  volume_size = {{ volume_size_gb }}
  image_disk_format = "{{ image_disk_format }}"
}

build {
  name = "{{ inventory_hostname }}"
  sources = [
    "source.openstack.{{ inventory_hostname }}"
  ]

  provisioner "ansible" {
    ansible_env_vars = ["ANSIBLE_HOST_KEY_CHECKING=false"]
    use_proxy = false
    extra_arguments  = [
      "-e ansible_python_interpreter=/usr/bin/python3",
      "-e ansible_host={{ inventory_hostname | replace('_','-') }}.{{ build_domain }}",
      "-e target_host={{ inventory_hostname | replace('_','-') }}.{{ build_domain }}"
    ]
    inventory_file       = "ansible/inventory/production/{{ inventory_file | basename }}"
    playbook_file        = "ansible/playbooks/{{ default_ansible_playbook }}"
    galaxy_file          = "ansible/roles/requirements.yml"
    galaxy_force_install = true
  }
}
