[defaults]
gathering = explicit
nocows = true
roles_path = ./roles/
inventory  = ./inventory/
remote_tmp = $HOME/.ansible/tmp
local_tmp  = $HOME/.ansible/tmp
ansible_python_interpreter=/usr/bin/python3
pipelining = true
host_key_checking = false
deprecation_warnings = true
callbacks_enabled = profile_tasks, profile_roles
# vault_password_file = .vault_password

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false

[inventory]
enable_plugins = generator
