packer {
  required_plugins {
    docker = {
      version = "{{ packer['builder_versions']['docker'] }}"
      source  = "github.com/hashicorp/docker"
    }
    ansible = {
      version = "{{ packer['provisioner_versions']['ansible'] }}"
      source  = "github.com/hashicorp/ansible"
    }
  }
}

source "docker" "{{ inventory_hostname }}" {
  image  = "{{ docker_base_image }}"
  commit = true
  login = false
  run_command = ["-d", "-i", "-t", "--name", "{{ inventory_hostname }}", "{% raw %}{{.Image}}{% endraw %}", "{{ docker_run_command }}"]
}

build {
  name = "{{ inventory_hostname }}"
  sources = [
    "source.docker.{{ inventory_hostname }}"
  ]
  provisioner "shell" {
    environment_vars = [
      "DEBIAN_FRONTEND=noninteractive",
    ]
    inline = [
      "apt update && apt install python3-apt -y"
    ]
  }

  provisioner "ansible" {
    ansible_env_vars = ["ANSIBLE_HOST_KEY_CHECKING=false"]
    extra_arguments  = [
      "-e ansible_connection=docker",
      "-e ansible_python_interpreter=/usr/bin/python3",
      "-e ansible_host={{ inventory_hostname }}",
      "-e builder_type=docker",
      "-e target_host={{ inventory_hostname }}"
    ]
    inventory_file   = "ansible/inventory/production/{{ inventory_file | basename }}"
    playbook_file    = "ansible/02_{{ build_group }}.yml"
    galaxy_file = "ansible/roles/requirements.yml"
    galaxy_force_install = true
  }

  post-processor "docker-tag" {
    repository = "{{ inventory_hostname }}"
    tags = ["latest"]
  }
}
